/* CSS for SqlInjectionXBlock */

.sqli_block .count {
    font-weight: bold;
}

.sqli_block p {
    cursor: pointer;
}

.sqli_block .welcome{
    display: none;
}

.sqli_block .login_failure{
    display: none;
    color: red;
}

.tada {
    color: green;
}

input#sqli_username {
    width:150px;
}

input#sqli_password {
    width:350px;
}
.user_score {
    display: none;
}